/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    /* All custom variables go here. */
    /* EX color: --clr-color | font size: --fs-size | font weight: --fw-size */

    /* Colors */
        /* Primary */
        --clr-bright-orange: hsl(31,77%,52%);
        --clr-dark-cyan: hsl(184,100%,22%);
        --clr-very-dark-cyan: hsl(179,100%,13%);

        /* Neutral */
        --clr-transparent-white: hsla(0,0%,100%,0.75); /*Paragraphs*/
        --clr-very-light-gray: hsl(0,0%,95%); /*background, headings, buttons*/


    /* Font Sizes */
    --fs-15px: 1rem;

    /* Font Weights */
    --fw-400: 400;
    --fw-700: 700;
}



body {
    display: flex; /*Most projects will be in the middle of the viewport*/
    flex-direction: column; 
    align-items: center; /* if flex-direction is column, items would center horizontally. If flex-direction is row, items would center vertically.*/
    justify-content:center; /*Centers items horizontally*/
    height: 100vh; /*for justify-content to work we need a height on our body. 100vh is 100% of the viewport height.*/
    overflow: hidden; /*Don't want scroll bars to be shown by default*/
    margin: 0;
    background-color: var(--clr-very-light-gray);
    font-size: var(--fs-15px);
}

h2 {
    color: var(--clr-very-light-gray);
    font-family:sans-serif;
    margin-top: 30px;
}   

p {
    color: var(--clr-transparent-white);
    font-family:sans-serif;
    margin-top: 25px;
}

img {
    margin-top: 30px;
}

.card-content {
    margin-left:20px;
}


.bg-orange {
    background-color: var(--clr-bright-orange);
}

.bg-cyan {
    background-color: var(--clr-dark-cyan);
}

.bg-dark-cyan {
    background-color: var(--clr-very-dark-cyan);
}

.container {
    display:flex;
    max-width: 1000px;
    border-radius: 50px;
}